@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  background-color: rgb(253, 253, 253);
  color: rgb(0, 0, 0);
  /*
  -ms-overflow-style: none;  /* IE and Edge 
  scrollbar-width: none;  Firefox */
}
/* 
body::-webkit-scrollbar { /* Chrome, Safari, and Opera 
  display: none;
} */

#root {
  width: 100%;
  position: absolute;
}

@layer components {
  .navbar-icon {
    @apply relative flex items-center justify-center
            h-10 w-10 mt-2 mb-2 drop-shadow-2xl
            bg-gray-700 text-white
            hover:bg-white hover:text-gray-700
            rounded-3xl hover:rounded-xl
            transition-all duration-500 ease-in-out
            cursor-pointer;
  }

  .navbar-tooltip {
    @apply absolute h-auto p-2 m-2 min-h-max top-9
    rounded-md shadow-md
    text-white bg-black
    text-xs font-bold
    transition-all duration-100 ease-linear scale-0 origin-top;
  }
}

#navbar {
  width: 70%;
  margin-top: .75rem;
}

#main-container {
  flex: 1;
}

#gallery {
  /* background-color: rgba(45, 110, 239, 0.455); */
  height: 100%;
}

#traits {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
  height: fit-content;
  margin-left: 6rem;
  margin-right: 3rem;
  margin-bottom: 19px;
  border: solid;
  border-color: black;
  border-width: 1px;
}

#filter-btn {
  background-color: #616161;
  border-color: black;
  border-width: 1px;
  width: 80px;
  margin-top: 10px;
  color: black;
  font-size: 1.3rem;
}

#boxes-main-container {
  height: 100%;
  width: 100%;
  margin-right: 6rem;
  border: solid;
  border-color: black;
  border-width: 1px;
}

#boxes-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px 20px;
  padding: 5px;
  padding-top: 20px;
  justify-content: space-evenly;
}

.box {
  height: 150px;
  width: 150px;
  border: solid;
  border-color: black;
  border-width: 1px;
  transition: all .5s ease-in-out;
}

.box:hover {
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.708);
}

